<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>La mia pizzeria - Crea offerta</title>

<!--/* BOOTSTRAP */-->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>

<!--/* STYLE */-->
<link rel="stylesheet" th:href="@{/css/style.css}" >
</head>
<body>
	
	<header th:replace="~{frags/header :: header()}"></header>

	<div
	  class="container w-50 mt-5">
		
		<h1
			th:if="${offer.getId() < 1}"
			class="text-center mt-4">
			Crea una nuova offerta
		</h1>
		<h1
			th:if="${offer.getId() > 0}"
			class="text-center mt-4">
			Modifica offerta
		</h1>
	
		
		<form method="POST"
		 th:object="${offer}" >

			<input type="hidden" 
			  th:name="${_csrf.parameterName}" 
			  th:value="${_csrf.token}" 
			/>

			<input
			  type="number"
			  name="id"
			  th:field="*{id}"
			  hidden>

				<label
				  for="title"
				  class="mt-3">
					<strong>
						Title
					</Strong>
				</label>
			<input 
				th:class="(${#fields.hasErrors('title')} ? 'is-invalid form-control' : 'form-control ')"
				type="text" 
				id="title" 
				name="title" 
				placeholder="Es. BlackFriday -50%..."
				th:field="*{title}"
			>
			<div th:if="${#fields.hasErrors('title')}">
				<ul>
				   <li
				     th:each="err : ${#fields.errors('title')}"
				     th:text="${err}"
				     class="text-danger"></li>
				</ul>
			</div>
			<div class="row">		
				<div class="col">	
					<label
					  for="startDate"
					  class="mt-3"> 
						<strong>
							Start Date
						</Strong>
					</label>
					<input 
						th:class="(${#fields.hasErrors('startDate')} ? 'is-invalid form-control' : 'form-control ')"
						type="date" 
						id="startDate" 
						name="startDate" 
						th:field="*{htmlStartDate}"
					>
					<div th:if="${#fields.hasErrors('startDate')}">
						<ul>
						  <li
						     th:each="err : ${#fields.errors('startDate')}"
						     th:text="${err}"
						     class="text-danger"></li>
						</ul>
					</div>
				</div>		

				<div class="col">					
					<label for="endDate" class="mt-3"> 
						<strong>
							End Date
						</Strong>
					</label>
					<input 
						th:class="(${#fields.hasErrors('endDate')} ? 'is-invalid form-control' : 'form-control ')"
						type="date" 
						id="endDate" 
						name="endDate" 
						th:field="*{htmlEndDate}"
					>
					<div th:if="${#fields.hasErrors('endDate')}">
						<ul>
						   <li
						     th:each="err : ${#fields.errors('endDate')}"
						     th:text="${err}"
						     class="text-danger"></li>
						</ul>
					</div>
				</div>
			</div>
			
			<button
			  type="submit"
			  class="btn btn-secondary mt-3">
				Save
			</button>
		</form>
	</div>
</body>
</html>