<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<!--/* BOOTSTRAP */-->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>

<!--/* STYLE */-->	
<link rel="stylesheet" th:href="@{/css/style.css}" >


<title>La mia pizzeria - Pietro M.</title>
</head>
<body>
	<header th:replace="~{frags/header :: header()}"></header>
	
	
	<div class="container mt-5">		
		<div
		  class="d-flex flex-row-reverse mt-4 me-4">
			
			<a
			  href="/create"
			  class="btn btn-secondary"
			  sec:authorize="hasAuthority('ADMIN')">
				Add new pizza
			</a>
		</div>
		
		<h1 class="text-center">Menù</h1>
		
		<div class="container">		
			<div class="row row-cols-4 justify-content-center">
				<div		
					th:each="pizza : ${pizzas}"
					th:object="${pizza}"
					class="col pm-col "
				>	
					<div class="card pm-card mb-4 position-relative">
						
						<div class="pm-img-container">						
							<img
							  class="card-img-top"
							  th:alt="*{name}"
							  th:src="*{getFullFotoUrl(fotoUrl)}">                          
						</div>
						
						<h5 class="mt-2 text-center">					
							[[*{name.toUpperCase()}]]
						</h5>
						
						<div class="card-body " >
							<p class="pm-pizza-desc">
								<strong>
									Description: 
								</strong>

								[[*{description}]]
							</p>
						</div>
						
						<div class="card-body ">
							<p class="card-text">
								<strong>
									Price: 
								</strong>

								[[*{price}]] $
							</p>
							
						</div>
						<div class="row ps-2">
							
							<div class=" col-8">
								<a
								  th:href="| /pizza/*{id} |"
								  class="btn btn-secondary">
									See details
								</a>
							</div>
							<div class=" col-4">
								<a
								  th:href="| /update/*{id} |"
								  class="btn btn-dark"
								  sec:authorize="hasAuthority('ADMIN')">
									Edit
								</a>
							</div>
						</div>
						<div class="pm-delete-btn mt-1 me-1"
							 sec:authorize="hasAuthority('ADMIN')">
							<form
							  th:action="@{/delete/{id}(id=*{id})}"
							  method="POST">
								<button
								  type="submit"
								  class="btn btn-danger">
									X
								</button>
							</form>
						</div>
					</div>
				</div>

			</div>
			
			<h3
			  class="text-center mt-5"
			  th:if="${pizzas.size() == 0}">
				Non ci sono pizze da mostrare..
			</h3>
		
		</div>
	</div>
</body>
</html>