<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!--/* BOOTSTRAP */-->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>

<!--/* STYLE */-->
<link rel="stylesheet" th:href="@{/css/style.css}" >

<title>Insert title here</title>
</head>
<body th:object="${pizza}">
	
		<header th:replace="~{frags/header :: header()}"></header>

	<div class="container mt-5 mb-5">	
		
		<div class="row">
			<div class="col-9">
				<h1 class="text-center">
					[[*{name.substring(0, 1).toUpperCase() + name.substring(1, name.length())}]]
				</h1>
				
				<div class="d-flex justify-content-center">		
					<img
					  class="pm-img-show"
					  th:alt="*{name}"
					  th:src="*{getFullFotoUrl(fotoUrl)}"> 
				</div>
				<div class="row mt-5">						
					<div class=" col-8 text-center ">
						<h5>
							<strong>					
								Price:
							</strong>

							[[*{price}]] $
						</h5>
						<h5>
							<strong>					
								Description:
							</strong>

							[[*{description}]]
						</h5>
						
						
					</div>
					
					<div class="col-4 ">	
						<strong>					
							Ingredients:
						</strong>
		
						<ul>
							<li
							  th:each="ingredient : *{ingredients}">						
								[[${ingredient.name}]]
							</li>							
						</ul>
					</div>
				</div>
			

			</div>
			
			
			<div class="col-3">
				<h2 class="d-inline">Offers</h2>
				
				<a
				  th:href="| /offers/create/*{id} |"
				  class="btn btn-secondary d-inline"
				  sec:authorize="hasAuthority('ADMIN')">
					New Offer
				</a>

				<h6
				  class="mt-5"
				  th:if="*{offers.size() < 1}">
					Non ci sono offerte..
				</h6>				
				
				<ul
				  th:if="*{offers.size() > 0}"
				  class="mt-5">
					<li
					  th:each="offer : *{offers}">
						[[${offer.title}]] 
						<span
						  sec:authorize="hasAuthority('ADMIN')">
						 -	
					<a
					  th:href="| /offers/update/*{id}/${offer.id} |">
							Edit
						</a>
						</span> 
					</li>
				</ul>
				
			</div>
				
		</div>		
		
	</div>

</body>
</html>